@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');


.navbar-nav {
    margin-left: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content {
    padding-top: 70px;
}

.navbar {
    -webkit-box-shadow: 1px 8px 18px -7px rgba(158, 158, 158, 1);
    -moz-box-shadow: 1px 8px 18px -7px rgba(158, 158, 158, 1);
    box-shadow: 1px 8px 18px -7px rgba(158, 158, 158, 1);
}

body {
    background-color: #f4f8ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@media (min-width: 992px) {

    .nav-link {
        text-transform: uppercase;
        margin-right: 20px;
    }

}

.container a {
    margin-right: auto;

}

.container h3 {
    text-align: center;
}

/* Form login */

.card-header {
    background: transparent;
    text-align: center;
}

/* Carousel */

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

#form .col {
    min-height: 400px;

}

/* .container {
    font-family: Arial, Helvetica, sans-serif;
} */